{% extends "../base.html" %}
{% load staticfiles %}

{% block page_title %} Availlable Settings {% endblock %}

{% block body %}
<div class="content">

         <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Africa'stalking Username</th>
                        <th>Africa'stalking API Key</th>
                    </tr>
                </thead>
                <tbody>
                {% for setting in sms_settings_list %}
                    <tr>
                        <td> {{ setting.user_name }} </td>
                        <td> {{ setting.api_key }} </td>
                        <td style="">
                              <a class="btn btn-warning btn-sm" href="{% url 'sms_settings_update' setting.id %}">Edit</a>

                              <a class="btn btn-danger btn-sm js-delete-book" href="#">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </div>                  
{% endblock %}