{% extends "../base.html" %}
{% load staticfiles %}

{% block page_title %} Send Message {% endblock %}

{% block body %}
    <div class="content">
        <form role="form" method="post" action="">
         {% csrf_token %}

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Select Category</label>
                        {{ form.category }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Type your message</label>
                        {{ form.message }}
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-success btn-default" value="Send Message" />

            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}