{% extends "../base.html" %}
{% load staticfiles %}

{% block page_title %} Message History {% endblock %}

    {% block body %}
    <div class="content">
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% if sms_list %}
                {% for sms in sms_list %}
                    <tr>
                        <td> {{ sms.category }} <br> <small style="color: green">{{ sms.recipient_count }} recipients</small> </td>
                        <td> {{ sms.message}} </td>
                        <td> {{ sms.created }} </td>
                    </tr>
                {% endfor %}
                <!--When there is no messages in history yet.-->
                {% else %}
                    <tr>
                        <td colspan="2"> No messages in history yet. </td>
                        <td style="">
                              <a class="btn btn-info btn-sm" href="{% url 'sms_create' %}">Send Message</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}


