Django==1.10.4
appdirs==1.4.0
argparse==1.2.1
dj-database-url==0.4.1
django-excel==0.0.6
et-xmlfile==1.0.1
gunicorn==19.6.0
jdcal==1.3
odfpy==1.3.4
openpyxl==2.4.8
packaging==16.8
psycopg2==2.6.2
pyexcel==0.4.5
pyexcel-io==0.3.4.1
pyexcel-ods==0.3.3
pyexcel-webio==0.0.11
pyexcel-xls==0.3.3
pyexcel-xlsx==0.3.0
pyparsing==2.1.10
pytz==2017.2
six==1.10.0
texttable==0.9.0
whitenoise==3.2
wsgiref==0.1.2
xlrd==1.0.0
xlwt==1.2.0
