Django==1.11.2
appdirs==1.4.0
argparse==1.2.1
diff-match-patch==20110725.1
dj-database-url==0.4.1
django-excel==0.0.6
django-import-export==0.5.1
et-xmlfile==1.0.1
flake8==3.3.0
gunicorn==19.6.0
jdcal==1.3
mccabe==0.6.1
odfpy==1.3.4
openpyxl==2.4.8
packaging==16.8
psycopg2==2.6.2
pycodestyle==2.3.1
pyexcel==0.4.5
pyexcel-io==0.3.4.1
pyexcel-ods==0.3.3
pyexcel-webio==0.0.11
pyexcel-xls==0.3.3
pyexcel-xlsx==0.3.0
pyflakes==1.5.0
pyparsing==2.1.10
pytz==2017.2
six==1.10.0
tablib==0.11.4
texttable==0.9.0
virtualenv==15.1.0
whitenoise==3.2
xlrd==1.0.0
xlwt==1.2.0
