    {% extends "../base.html" %}
    {% load staticfiles %}

    {% block page_title %} Contacts {% endblock %}

        {% block body %}
        <div class="content">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                    <a class="btn btn-success btn-small " href="{% url 'export_contact_csv' %}">Export all members</a>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td> {{ contact.first_name }} {{ contact.last_name}}</td>
                                <td> {{ contact.email }} </td>
                                <td> {{ contact.mobile }}</td>
                                <td> {{ contact.category }}</td>
                                
                                <td style="">
                                    <a class="btn btn-warning btn-xs btn-round" href="{% url 'contact_update' contact.id %}"><i class="fa fa-edit"></i>Edit</a>

                                    <a class="btn btn-danger btn-xs btn-round" href="{% url 'contact_delete' contact.id %}"><i class="fa fa-times"></i>Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
        </div>
    {% endblock %}


