    {% extends "../base.html" %}
    {% load staticfiles %}

    {% block page_title %} Contacts {% endblock %}

        {% block body %}
        <div class="content">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>ID Number</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if contacts %}
                        {% for contact in contacts %}
                            <tr>
                                <td> {{ contact.first_name }} {{ contact.last_name}}</td>
                                <td> {{ contact.mobile }} </td>
                                <td> {{ contact.id_number }} </td>
                                <td> {{ contact.category }}</td>
                                
                                <td style="">
                                    <a class="btn btn-warning btn-sm" href="{% url 'contact_update' contact.id %}">Edit</a>

                                    <a class="btn btn-danger btn-sm js-delete-book" href="{% url 'contact_delete' contact.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <!--When there is no contacts created yet.-->
                        {% else %}
                            <tr>
                                <td colspan="3"> No contacts created yet. </td>
                                <td style="">
                                      <a class="btn btn-info btn-sm" href="{% url 'contact_create' %}">Add Contact</a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
        </div>
    {% endblock %}


